<div id="follow-icons">
	<a href="{{twitter_url}}" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
	<a href="http://linkedin.com/in/sjbrg" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
	<a href="http://instagram.com/danielsjbrg" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
	<a href="mailto:sjbrg@protonmail.com" target="_blank"><i class="fas fa-envelope-square fa-2x"></i></a>
</div>

<!--
<a href="http://github.com/username" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
<a href="http://vimeo.com/username" target="_blank"><i class="fab fa-vimeo-square fa-2x"></i></a>
<a href="http://youtube.com/username" target="_blank"><i class="fab fa-youtube-square fa-2x"></i></a>
<a href="http://pinterest.com/username" target="_blank"><i class="fab fa-pinterest-square fa-2x"></i></a>
-->
